name: Version Packages
on:
  release:
    types: [created]
env:
  CI: true

jobs:
  version:
    name: Version
    runs-on: ubuntu-latest

    if: contains(github.event.pull_request.title, 'chore(release)')

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Setup NPM
        run: |
          yarn logout
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          npm whoami
      - name: Set Git Identity
        run: |
          git config --global user.name 'publisher[bot]'
          git config --global user.email 'publisher[bot]@noreply.com'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Dependencies
        run: yarn
      - name: Version
        uses: ./.github/actions/tagger
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Auto Approve PR
        uses: hmarr/auto-approve-action@v2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge me!
        uses: ridedott/merge-me-action@v1.2.62
        with:
          GITHUB_LOGIN: publisher
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

